<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.hospital.mapper.HosInfoMapper">
    
    <resultMap type="HosInfo" id="HosInfoResult">
        <result property="appointId"    column="appoint_id"    />
        <result property="userId"    column="user_id"    />
        <result property="docId"    column="doc_id"    />
        <result property="illSituation"    column="ill_situation"    />
        <result property="dateTime"    column="date_time"    />
        <result property="number"    column="number"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="dutyId"    column="duty_id"    />
        <result property="endTime"    column="end_time"    />
        <association property="hosDoc" column="doc_id" javaType="HosDoc" resultMap="docResult"/>
    </resultMap>

    <resultMap type="HosDoc" id="docResult">
        <result property="docId"    column="doc_id"    />
        <result property="docName"    column="doc_name"    />
        <result property="sex"    column="sex"    />
    </resultMap>
    <sql id="selectHosInfoVo">
        select i.*,hd.*
        from hos_info i
        left join hos_doc hd on i.doc_id = hd.doc_id

    </sql>

    <select id="selectHosInfoList" parameterType="HosInfo" resultMap="HosInfoResult">
        <include refid="selectHosInfoVo"/>
        <where>
            <if test="userId != null "> and i.user_id = #{userId}</if>
            <if test="docId != null "> and i.doc_id = #{docId}</if>
            <if test="dateTime != null "> and i.date_time = #{dateTime}</if>
            <if test="illSituation != null  and illSituation != ''"> and i.ill_situation = #{illSituation}</if>
            <if test="status != null  and status != ''"> and i.status = #{status}</if>
        </where>
    </select>

    <select id="selectHosInfoByInfoId" parameterType="Long" resultMap="HosInfoResult">
        <include refid="selectHosInfoVo"/>
        where appoint_id = #{appointId}
    </select>
    
    <select id="selectHosInfoByAppointId" parameterType="Long" resultMap="HosInfoResult">
        <include refid="selectHosInfoVo"/>
        where appoint_id = #{appointId}
    </select>
        
    <insert id="insertHosInfo" parameterType="HosInfo" useGeneratedKeys="true" keyProperty="appointId">
        insert into hos_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="docId != null">doc_id,</if>
            <if test="illSituation != null and illSituation != ''">ill_situation,</if>
            <if test="dateTime != null and dateTime != ''">date_time,</if>
            <if test="number != null">number,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="dutyId != null">duty_id,</if>
            <if test="endTime != null">end_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="docId != null">#{docId},</if>
            <if test="illSituation != null and illSituation != ''">#{illSituation},</if>
            <if test="dateTime != null and dateTime != ''">#{dateTime},</if>
            <if test="number != null">#{number},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="dutyId != null">#{dutyId},</if>
            <if test="endTime != null">#{endTime},</if>
         </trim>
    </insert>

    <update id="updateHosInfo" parameterType="HosInfo">
        update hos_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="docId != null">doc_id = #{docId},</if>
            <if test="illSituation != null and illSituation != ''">ill_situation = #{illSituation},</if>
            <if test="dateTime != null and dateTime != ''">date_time = #{dateTime},</if>
            <if test="number != null">number = #{number},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="dutyId != null">duty_id = #{dutyId},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
        </trim>
        where appoint_id = #{appointId}
    </update>

    <delete id="deleteHosInfoByAppointId" parameterType="Long">
        delete from hos_info where appoint_id = #{appointId}
    </delete>

    <delete id="deleteHosInfoByAppointIds" parameterType="String">
        delete from hos_info where appoint_id in 
        <foreach item="appointId" collection="array" open="(" separator="," close=")">
            #{appointId}
        </foreach>
    </delete>
</mapper>